.home-hero {
  padding: 2.7rem 0 2rem;
}
.home-hero__title {
  font-size: 3.1rem;
  line-height: 1.4;
  @include mq(xs) {
    font-size: 2.6rem;
  }
}
.home-hero__description {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: var(--color-base-text-lighter);
}

.home-section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px var(--color-border);
}
.home-section-title {
  font-size: 1.7rem;
}
.home-section-link {
  font-size: 1.1rem;
  color: var(--color-primary-text);
}
.home-members {
  padding: 3rem 0;
}
.home-members-container {
  margin-top: 2rem;
}

/* 共通の見出しスタイル */
.section-heading {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--color-base-text);
  display: flex;
  align-items: center;
}

/* Popularセクションのスタイル */
.popular-posts-container {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.popular-posts-container .section-heading::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 1.2em;
  background: var(--color-primary-background);
  border-radius: 2.5px;
  margin-right: 0.8rem;
}

/* Articlesセクションのスタイル */
.member-posts-container {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: solid 1px var(--color-border);
}

.member-posts-container .section-heading::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 1.2em;
  background: var(--color-primary-background);
  border-radius: 2.5px;
  margin-right: 0.8rem;
}
